* {
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}
.main-nav li {
  display: inline-block;
}
.main-nav li a {
  color:white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.main-nav li.active a {
  border: 1px solid white;
}
.main-nav li a:hover {
  border: 1px solid white;
  background-color: darkorange;
  transition: all 0.5s ease-in;
}
body {
  font-family: monospace;
}
.row {
  max-width: 1200px;
  margin: auto;
}
.hero {
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 250px;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
}
.button {
  position: relative;
  left: 40%;
  margin-top: 20px;
  /* margin-top: 30px; */
  /* margin-left: 440px; */
  top: 50%;
}
.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}
.btn-one {
  font-family: "Roboto", sans-serif;
  background-color: black;
}
.btn-one:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
}
.btn-two {
  font-family: "Roboto", sans-serif;
  background-color: black;
}
.btn-two:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
}
.bottomnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
h3 {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}
.nav {
  border: none;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-nav {
  font-family: "Roboto", sans-serif;
  background-color: black;
}
.nav-nav:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
}
.nav-navactive {
  font-family: "Roboto", sans-serif;
  background-color: black;
  border: 1px solid white;
}
.nav-navactive:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
}