
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kursinis darbas</title>
    <link href="../static/css/about.css" rel="stylesheet">
  </head>
 <header>
<div class="row">
<ul class="main-nav">
<li><form action="/main"><button type="submit" class="nav nav-nav">HOME</button></form></li>
<li><form action="/about"><button type="submit" class="nav nav-navactive">ABOUT</button></form></li>
<li><form><button type="submit" class="nav nav-nav">CONTACT</button></form></li>
<li><form action="/main"><button type="submit" class="nav nav-nav">SIGN OUT</button></form></li>
</ul>
</div>
<div class="hero">
    <h1>Webpage is being constructed...</h1>
</div>
    <div class="bottomnav"><h3>&copy; Gytis Narusis 2019</h3></div>
 </header>
  </body>
</html>
