
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kursinis darbas</title>
    <link href="../static/css/home.css" rel="stylesheet">
  </head>
 <header>
  <div class="row">
    <ul class="main-nav">
    <li class="active"><form action="/main"><button type="submit" class="nav nav-navactive">HOME</button></form></li>
    <li><form action="/about"><button type="submit" class="nav nav-nav">ABOUT</button></form></li>
    <li><form action="/about"><button type="submit" class="nav nav-nav">CONTACT</button></form></li>
    <li><form action="/main"><button type="submit" class="nav nav-nav">SIGN OUT</button></form></li>
    </ul>
    </div>
<div class="hero">
    <h1>Webpage is being constructed...</h1>
</div>
<div>
    <ul class="main-nav-b">
    <li><a>SIGNED AS:   {{user}}</a></li>
    </ul>
    </div>
    <div class="bottomnav"><h3>&copy; Gytis Narusis 2019</h3></div>
 </header>
  </body>
</html>
